*{
	font-family: monospace;

}
.animation{
	animation: type 1s steps(11) 1s 1 normal both,
			   cursor 700ms steps(44) infinite normal;
}
.anim-rev{
	animation: typewriterrev 1s steps(7) 1s 1 normal both,
			   cursor 900ms steps(44) infinite normal;
}
@keyframes type{
	to{width: 0;}
	from{width: 6em;}
}
@keyframes typewriterrev{
	from{width: 0;}
	to{width: 3.8em;}
}
@keyframes cursor{
	0%{border-right-color: rgba(0,0,0,.75);}
	50%{border-right-color: transparent;}
	100%{border-right-color: rgba(0,0,0,.75);}
}
.cur{
	padding-right: 2px;
	width: 6em;
	border-right: 2px solid rgba(0,0,0,.75);
	white-space: nowrap;
	overflow: hidden;
	color: orange;
}
.static{
	color: black;
	margin-left: 5px
}
span{
	display: flex;
	font-size: 180%;
}